version: "3.7"
services:
  postgres:
    image: postgres:13.0-alpine
    environment:
      - POSTGRES_DB=crehana
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
  crehanaapp:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - .:/code
    container_name: Crehanatest
    command: bash -c "alembic upgrade head && strawberry server main"
    depends_on:
      - postgres
    env_file:
      - ./env
volumes:
  postgres_data: